
@{
    ViewBag.Title = "Changes";
}
<link href="~/Content/change.css" rel="stylesheet" />

<h2 id="title">Changes</h2>

<div class="row">
    <div class="container">
        @Html.Partial("DataContent")
    </div>
</div>

<script src="~/Scripts/hubs-change.js"></script>