<table id="tableData" class="table table-striped">
    <thead>
        <tr id="tableHeadTr">
            <th>Company Name</th>
            <th>Date</th>
            <th id="ClicksName">Clicks</th>
            <th>Conversation</th>
            <th>Impressions</th>
            <th>AffiliateName</th>
        </tr>
    </thead>
    <tbody id="tableDataBody"></tbody>
</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/hubs-main.js"></script>
